
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.env
.env.local
.env.development
.env.production
.env.test

prisma/dev.db
prisma/migrations/
prisma/.env
prisma/generated/
prisma/schema.prisma

logs
*.log
yarn.lock
package-lock.json
cache/
tmp/
.nyc_output
coverage/
dist/
build/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
